body {
    /* background-color: #282c34; */
    /* color: white; */
    padding: 0px;
    font-family: Arial;
    text-align: center;
}
.wrapper {
    padding: 2px 2px;
}
.wrapper fieldset {
    margin: 2px 0;
}
table {
    padding: 90px 10px;
    padding-right: 150px;
    border: 1px solid black;
    border-collapse: collapse;
  }
th, td {
    padding: 10px 10px;
    padding-right: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
  padding: 15px 15px;
  padding-right: 50px;
  border: 1px solid black;
  border-collapse: collapse;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.sales {
  background-color: lightgrey;
  width: 200px;
  border: 15px solid green;
  padding: 50px;
  margin: 5px;
}

.outer{
  padding-top: 30%;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.box{
  display: inline-block;
  padding: 5%;
  background-color: black;

}
#one { float: left;}
#one, #two, #three { width: 23.3%; }
#one, #two { float: right; }
#three { float: right; clear: none; }